services:
  app:
    container_name: train_dashboard_app
    image: henrypenton/train-dashboard-app:stable
    depends_on:
      - api
    env_file:
      - .env
    environment:
      - SERVER_URL=http://train_dashboard_api:8000
    ports:
      - "3000:3000"

  api:
    container_name: train_dashboard_api
    image: henrypenton/train-dashboard-api:stable
    volumes:
      - ./config:/app/config:rw
    env_file:
      - .env
    environment:
      - RTT_API_USER=
      - RTT_API_PASS=
      - APP_URL=http://train_dashboard_app:3000

    ports:
      - "8000:8000"

  # Optional push server
  # Timezones should be set in the style "Europe/London"
  push:
    container_name: train_dashboard_push
    image: henrypenton/train-dashboard-push:stable
    env_file:
      - .env
    environment:
      - TZ=Europe/London
      - SERVER_URL=http://train_dashboard_api:8000
      # NTFY topic codes/names
      - RAIL_TOPIC=
      - BEST_ROUTE_TOPIC=
      - LINE_STATUS_TOPIC=
      # How often (in seconds) the NTFY server checks for new schedules from the API
      - SCHEDULE_REFRESH_INTERVAL=300
    depends_on:
      - api
