services:
  app:
    container_name: train_dashboard_app
    image: henrypenton/train-dashboard-app:stable
    depends_on:
      - api
    env_file:
      - .env
    ports:
      - "3000:3000"

  api:
    container_name: train_dashboard_api
    image: henrypenton/train-dashboard-api:stable
    volumes:
      - ./config:/app/config:rw
    env_file:
      - .env
    ports:
      - "8000:8000"

  # Optional push server
  # Timezones should be set in the style "Europe/London"
  push:
    container_name: train_dashboard_push
    image: henrypenton/train-dashboard-push:stable
    volumes:
      - ./push-server-logs:/app/push-server-logs:rw
    env_file:
      - .env
    depends_on:
      - api
